:root {
  --border-color: rgb(160 160 160);
  --hover-color: #D3D3D3;
  --active-color: #A9A9A9;
}

* {  
  box-sizing: border-box;
}

label { 
    display: block; 
}

.accordion {
  padding: 5px 10px;
  border: 1px dashed gray;
  border-radius: 5px;
  width: fit-content;
}

.accordion:hover {
  cursor: pointer;
}

.accordion-span {
  margin-left: 10px;
  font-size: small;
}

.accordion-content {
  margin-top: 20px;
  font-size: small;
}

form {
  margin: 5px 0;
  padding: 10px 10px 5px;
  /* border: 1px dashed gold; */
}

.field{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 10px;
  margin: 10px 0;
}

.filling-error{
  display: flex;
  align-items: center;
  color: red;
}

#status {
  padding: 3px;
}

#form-submit {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  margin: 10px 0;    
}

input{
  padding: 5px;
}

input[type="submit" i]{  
  width: fit-content;
  background-color: green;
  border-radius: 5px;
}

input[type="submit" i]:hover {
  cursor: pointer;
}

button {
  border: 1px solid;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

.filter-button {
  margin: 5px 0;
}

.filter-button:hover {
  cursor: pointer;
}

table {
  margin: 5px 0;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
  text-align: left;
  width: 100%;
}

th {  
  border-right: 1px solid var(--border-color);
  padding: 10px;
}

.heading {
  border-bottom: 1px solid var(--border-color);
  font-size: 19px;
}

.row {
  font-size: 17px;  
}

.row:hover {
  background-color: var(--hover-color);
}

.active {
  background-color: var(--active-color); 
}

.invisible {
  display: none;
}

